@page
@model RazorPizzaProject.Pages.OrdersModel
@{
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <th>
            Id
        </th>
        <th>
            Pizza Name
        </th>
        <th>
            Price
        </th>
    </thead>
    <tbody>
        @foreach(var order in Model.pizzaOrders){
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.PizzaName
                </td>
                <td>
                    @order.BasePrice
                </td>
            </tr>
        }
    </tbody>
</table>